*{
    font-family: cursive;
}
.background{
    background : url(dfd2_bg.jpg);
    height:100vh;
    width:100vw;
   background-size:cover;

}
.nav{
    /* background-color:yellow; */
    background:transparent;
    height:50px;
    width:100vw;
    position:relative;
    top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.navBar{
    /* background-color:blue;
    border-radius:50px; */
    background:transparent;
    width:60%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:80%;
    border-bottom: 2px solid black;
    
}
.navBar li{
   /* font-size:20px; */
   color:black;
   list-style-type:none;
}
.navBar li:hover{
    
    color:blue;
    text-decoration:underline;
 }
 .logoutButton{
    background : transparent;
    border:0;
    font-size:16px;
    cursor:pointer;
 }

                                                            /* Check Attandence */

.table-container{
    background-color:white;
    border-radius:5px;
    margin-top:7px;
    height:85vh;
    width:500px;
    border:2px solid black;
    position:absolute;
    top:60px;
    left:-550px;
    overflow: scroll;
    scrollbar-width: thin;

    transition-property:all;
    transition-duration:0.5s;
    transition-timing-function: ease-in;
    transition-delay:0s;

}
.table1{
    width:100%;
    border-collapse: collapse;
}
.thead1 tr{
    background-color:rgb(165, 12, 165);
    color:white;
    height:45px;
    position:sticky;
    top:-1px;
    
}

.thead1 tr th{
   
    border:2px solid black;
}


.tbody1 tr{
    
    height:35px;
    border:2px solid black;
}
.tbody1 tr td{
   
    border:2px solid black;
    text-align:center;
}




                                                           /* Edit candidate */


.table-container2{
    background-color:white;
    border-radius:5px;
    margin-top:7px;
    height:85vh;
    width:500px;
    border:2px solid black;
    position:absolute;
    top:60px;
    left:-550px;
    overflow: scroll;
    scrollbar-width: thin;

    transition-property:all;
    transition-duration:0.5s;
    transition-timing-function: ease-in;
    transition-delay:0s;

}
.table2{
    width:100%;
    border-collapse: collapse;
    margin-bottom: 35px;
}
.thead2 tr{
    /* background-color:rgb(165, 12, 165); */
    background-color:blue;
    color:white;
    height:45px;
    position:sticky;
    top:-1px;
}

.thead2 tr th{
   
    border:2px solid black;
}


.tbody2 tr{
    
    height:35px;
    border:2px solid black;
}
.tbody2 tr td{
   
    border:2px solid black;
    text-align:center;
}

.Buttons1{
    width:100%;
    height:35px;
    position:sticky;
    bottom:2px;
    /* background-color: rgb(165, 12, 165); */
    
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.Button1{
    height:100%;
    width:150px;
    /* background-color: rgb(165, 12, 165); */
    background-color:blue;
    color:white;
    border-radius:10px;
}


.classDetails{
    height:300px;
    width:300px;
    background-color: white;
    color:blue;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    position:absolute;
    top:30vh;
    left:40vw;
    border:2px solid red;
    border-radius:30px;
    box-shadow: -5px -5px 10px 0px rgb(169, 27, 27);
}
.classDetail{
    height:200px;
    width:250px;
    background-color: white;
    color:blue;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.classDetail div{
    display:flex;
}

.take-attendance{
    height:45px;
    width:300px;
    background-color: white;
    color:blue;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    position:absolute;
    top:80vh;
    left:40vw;
    border-width:2px ;
    border-color: red;
    border-radius:30px;
    box-shadow: -5px -5px 10px 0px rgb(169, 27, 27);

    font-size:medium;

}
.take-attendance:hover{
    text-decoration: underline;
}
.attendance-details{
    height:100vh;
    width:100vw;
    border:2px solid red;
    /* background-color:red; */
    overflow:scroll;
}


.Add-candidate{
    height:300px;
    width:250px;
    background-color:chartreuse;

    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;

    border-radius:20px;

    position:absolute;
    top:35vh;
    left:43vw;

    border:2px solid black;

}

.input1{
    height:35px;
    width:80%;
    color:white;
    background:transparent;
    border:0;
    border-bottom:2px solid black;
    text-align: center;

}
.submit1{
    height:30px;
    width:60%;
    border:3px solid black;
    border-radius:10px;
    background-color:purple;
    color: white;


}



.remove-candidate{
    height:300px;
    width:250px;
    background-color:chartreuse;

    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;

    border-radius:20px;

    position:absolute;
    top:35vh;
    left:43vw;

    border:2px solid black;
}

.remove2{
    height:30px;
    width:60%;
    border:3px solid black;
    border-radius:10px;
    background-color:purple;
    color:white;


}
