*{
    margin:0;
    padding:0;
}
body{
    background:url(background.png);
}

.menu{
    height:50px;
    width:50px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items:center;
    
    /*border:2px solid black;*/

    position:absolute;
    top:25px;
    left:15px;
    
    background-color:white;


}

.menu img{
    height:90%;
    width:90%;
    cursor:pointer;
}

.menuBox{
    position:relative;
    left:-210px;
    width:200px;
    height:400px;
    border:2px solid black;
    margin-top:80px;

    border-radius:10px;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.menuBox form{
    height:100%;
    width:100%;
    background-color: white;
     border-radius:10px;

     display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuItems{
    background: transparent;
    border:0px;
    font-size: 15px;
}
.menuItems:hover{
    cursor:pointer ;
    text-decoration: underline;
    color:blue;
}