
.background{
    background : url(employee6.jpg);
    height:100vh;
    width:100vw;
   background-size:cover;

}
.nav{
    /* background-color:yellow; */
    background:transparent;
    height:50px;
    width:100vw;
    position:relative;
    top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}


.nav1{
    height:50px;
    width:50px;
    background:transparent;
    /* background-color:blue; */
    border-radius:50%;
    position:absolute;
    left:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}
.nav1 img{
    height:25px;
    width:25px;
    cursor:pointer;
    /* transition:all;
    transition-duration:0.5s;
    transition-timing-function:linear; */
   

}
.nav1 img:hover{
  
    height:27px;
    width:27px;

}

.navBar{
    /* background-color:blue;
    border-radius:50px; */
    background:transparent;
    width:60%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:80%;
    border-bottom: 2px solid black;
}
.navBar a{
   
   color:black;
   text-decoration:none;
}
.navBar a:hover{
    
    color:blue;
    text-decoration:underline;
 }
.nav2{
   height:100%;
   position:absolute;
   right:40px;
   
}
.nav2 div{
    display:flex;
    justify-content: center;
    align-items:center;
}
.nav2 div img{
    height:35px;
    width:35px;
    border-radius:35px;
}
.name{
    font-size:10px;
    text-align:center;
}
.createClass{
    background-color:rgb(255, 255, 255);
    height:500px;
    width:220px;
    border:2px solid black;
    margin-top:20px;
    overflow:scroll;
    scrollbar-width: thin;
    scrollbar-color:purple white;

    position:relative;
    left:-750px;

    display:flex;
    flex-direction:column;
    align-items:center;

    transition:all;
    transition-duration:0.5s;
    transition-timing-function: linear;
    
}
.list{
background:transparent;
border:0;
cursor: pointer;
}
.list:active{
    background:transparent;
}

.newClass{
    position:sticky;
  top:600px;
  width:150px;
  height:30px;
 
  border-width:2px ;
   border-color:black;
   border-radius:50px;
  
  background-color:purple;
  color:white;
}
.newClass:active{
    background-color:blue;
}
.myClass{
    background-color:rgba(0, 0, 0, 0.134);
    width:120px;
    height:25px;
    text-align:center;
    border-radius:5px;
    border-width:2px;
    border-style:solid;
}
.titles{
    list-style-type:decimal;
    width:90%;
   
}
.titles li:hover{
 cursor:pointer;
}
.form1{
    height:100vh;
    width:100vw;
    background-color:aqua;

    display:flex;
    justify-content:center;
    align-items:center;

    position:absolute;
    top:0;
    background:transparent;
   
    display:none;
}
.form1_1{
    height:500px;
    width:350px;
    background-color:white;
    border:3px solid purple;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}
.form1_1 input{
    height:25px;
    color:black;
    background:transparent;
    border-width:0;
    border-bottom:2px solid black;
    
}
.form1_1 input::placeholder{
    color:black;
    
}
.form1_1 button{
    height:30px;
    width:150px;
    border-radius:50px;
    background-color:purple;
    border-width:3px ;
    color:white;
}
.form1_1 button:active{
    background-color: blue;
    text-decoration: none;
}

.close{
    position:relative;
    bottom:350px;
    left:150px;
    background:url(closeIcon.png);
    /* background-color:blue; */
    background-size:cover;
    width:15px;
    height:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
}