*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

.flex1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    background:url(employee2.jpg);
    background-size: cover;
}


.nav{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    height:40px;
    position:absolute;
    top:10px;  
    background-color:purple;
    width:60%;
    color:white;
   list-style-type: none;
   /* background:transparent; */
   border:3px solid white;
   border-radius:50px;


}
.nav li a{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-decoration:none;
    cursor:pointer;
  


}
/* .nav li a img{
    height:30px;
    margin-right:2px; 
   
}*/
.nav li a:hover{
    text-decoration:underline;
    /* color:blue; */
    
}


.login{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    height:450px;
    width:300px;
    background-color:purple;
    background:transparent;
    border-radius:20px;
    /* border-color:black;
    border-style:solid;
    border-width:2px; */
    backdrop-filter:blur(40px);
    border:3px solid purple;
    box-shadow: 10px 10px px 0 purple;

    

}
.login div{
    color:white;
    font-size:40px;
}

.login input{
    padding-left:10px;
    height:40px;
    width :75%;
    color:white;
    border-radius:50px;
    background:transparent;
    border:3px solid purple;
    font-size: 15px;
}
.login input::placeholder{
    color:white;
   
}

.login button{
    display:flex;
    justify-content: center;
    text-align:center;


    height:40px;
    width :55%;
    border-radius:50px;
    position:relative;
    top:20px;
    background:transparent;
    cursor:pointer;
    border:3px solid white;
    background-color:purple;
}
.loginButton{
    display:flex;
    justify-content:center;
    align-items:center;
   text-decoration: none;
    background:transparent;
    height:100%;
    width:100%;
    border-radius:50px;
   color:white;

}
.loginButton:hover{
   color:white;
   text-decoration:underline;
}


.login button:hover{
    background-color:blue;
    color:white;
}
.forget{
    position:relative;
    color:purple;
    bottom:120px;
    font-size:15px;
    color:white;
    /* text-decoration:none; */
    
}

.forget:hover{
   
    color:blue;
    text-decoration:underline;
}

.signup{
    
    display:flex;
    flex-direction:column;
    align-items:center;

    position:absolute;
    bottom:30px;
}
.signup a,.signup p{
    font-size:15px;
   
}
.signup a:hover{
    color:blue;
}
